<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Dict.DictApp2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.Dict.DictApp2.DictMainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Dict.DictApp2.SlotListActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.Dict.DictApp2.SlotDetailActivity"
            android:label="@string/title_slot_detail"
            android:parentActivityName="com.Dict.DictApp2.SlotListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Dict.DictApp2.SlotListActivity" />
        </activity>

        <service
            android:name="com.Dict.DictApp2.DictQueryService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
